html {
    background-color: blanchedalmond;
}

body {
    width: 600px;
    background-color: white;
    padding: 64px;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Gloock';
    font-size: 48px;
}

p {
    width: 300px;
    font-family: 'Work Sans';
}